@charset "UTF-8";
/* 노멀라이징*/
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

ol,
ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 라이브러리 */
.cell {
  float: left;
}

.row::after {
  clear: both;
  content: "";
  display: block;
}

* {
  font-family: "Noto Sans KR", sans-serif;
}

@font-face {
  font-family: "HS-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NEXON Lv1 Gothic OTF Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype");
}
.nanumbarungothic * {
  font-family: "NanumBarunGothic", sans-serif;
}

/* ------ mixin ------ */
@mixin width-height($width ,$height) {
  width: $width;
  height: $height;
}
@mixin flex-center($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
@mixin absolute-center {
  position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}
@mixin animation($name, $duration ) {
  animation-name: $name;
  animation-duration: $duration;
  animation-duration: leaner;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
/* ------ 공통 ------ */
/* more-box */
.more-box {
  @include width-height(180px, 30px);
  border: 1px solid #fff;
  color: white;
  border-radius: 50px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    white-space: nowrap;
  }
  &:hover{
    transform: scale(0.98)
  }
}

.title-red {
  font-size: 35px;
  font-weight: 900;
  color: #D0142E;
}

/* *******   nav bar   ******* */
.top-bar {
  @include width-height(100%, 100px);
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  box-sizing: border-box;

  // 로고
  .logo {
    width: 135px;
    cursor: pointer;
    img {
      width: 100%;
    }    
  }

  // 메뉴
  .menu-wrap > ul > li {
    display: inline-block;
    margin-left: 40px;
    font-size: 14px;
    line-height: 60px;
    &::after{
      content: "";
      @include width-height(8px, 8px);
      display: block;
      border-radius: 10px;
      background-color: #166936;
      margin: 0 auto;
      transform: translateY(-500%);
      opacity: 0;
      transition: 0.5s;
    }
    &:hover::after {
      transform: translateY(-650%);
      opacity: 1;
    }
    &:last-child::after {
      display: none;
    }
    &:last-child::before {
      content: "|";
      margin-right: 40px;
    }
    ul > li {
      display: none;
      color: #222;
      font-weight: 400;
      line-height: 30px;
      &:hover {
        color: #4c9167;
      }
    }
    &:hover > ul {
      position: absolute;
      li {
        display: block;  
      }
    }
  }
}

// 메뉴바 아이콘
.top-bar .menu-mobile {
  display: none;
}

/* *******   section main-vs   ******* */
// 슬라이드 화살표
.fp-controlArrow{
  font-size: 30px;
  color: rgba(0, 0, 0, 0.5333333333);
  &.fp-prev {
  border-color: transparent;
  &::after {
    content: " <";
    font-family: "NEXON Lv1 Gothic OTF Light";    
  }
}
&.fp-next {
  right: 35px;
  border-width: 0;
  border-color: transparent;
  &::after {
    content: ">";
    font-family: "NEXON Lv1 Gothic OTF Light";
  }
}
}

/* 첫번째슬라이드 */
.main-vs .slide01 {
  background: rgba(205, 187, 162, 0.2666666667);
  overflow: hidden;
  .content {
    width: 75vw;
    margin: 0 auto;
    
    // 이미지(좌측)
    .img-box {
      width: 45vw;
      img{
        width: 100%;
      }
    }

    // 내용(우측)
    .txt-box {
      @include width-height(30vw, 28vw);
      color: #694501;
      padding: 0 4vw;
      box-sizing: border-box;
      .txt-wrap{
        .s1 {
          font-family: "HS-Regular";
          line-height: 7vw;
          font-size: 2.5vw;
          margin-top: 3vw;
          white-space: nowrap;
          color: #fb8702;
        }
        span {
          font-family: "Cafe24Ssurround";
          line-height: 4vw;
          white-space: nowrap;
        }
        .s2 {
          font-size: 3vw;
        }
        .s3 {
          font-size: 1.5vw;
        }
        .more-box {
          background-color: #694501;
          margin: 30px 0;
          &:hover {
            background-color: rgba(105, 69, 1, 0.6);
            color: #fff;
          }
        } 
      }
    }    
  } 
  
}

.main-vs .slide01 .txt-wrap02 {
  display: none;
}
/* 두번째슬라이드 */
.main-vs .slide02 {
  background-color: rgba(205, 187, 162, 0.5411764706);

  // 내용(좌측)
  .content {
    @include width-height(60%, 70%);
    @include flex-center(row);
    margin: 0 auto;
    .box {
      @include width-height(45%, 20vw);
      @include flex-center(column);
      border: 1px solid #fff;
      background-color: rgba(255, 255, 255, 0.2);
      .txt-img {
        width: 80%;
        img {
          width: 100%;
        }
      }
      .more-box-wrap {
        margin-top: 15px;
        .more-box {
          background-color: #166936;
          border: 0px solid #999;
          color: #fff;
        }
        &:hover {
          background-color: rgba(22, 105, 54, 0.5490196078);
          color: #fff;
        }
      }    
    }

    // 제품이미지(우측)
    .img-box {
      width: 55%;
      img {
        width: 100%;
      }
    }
  }
  
}
/* 세번째 슬라이드 */
.main-vs .slide03 {
  background-color: #F0CCC4;
  .slide03-wrap {
    @include width-height(100%, 100%);
    position: relative;
    overflow: hidden;

    // 도넛이미지(좌측)
    .donut {
      @include width-height(50vw, 40vw);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      img {
        width: 45%;
        position: absolute;
      }
      .bottom > img {
        position: absolute;
        bottom: 0%;
      }
      .top1, .bottom1 {
        @include animation(left, 1s);
      }
      .top2, .bottom2 {
        @include animation(right, 1s);
      }
    }

    // 내용(우측)
    .bg-pink {
      @include width-height(50%, 100% );
      background-color: #EA8694;
      margin-left: auto;
      @include flex-center(column);
      .txt-wrap {
        height: 30vw;
        @include flex-center(column);
        img {
          height: 20vw;
        }
        .more-box-wrap {
          margin-top: 20px;
        }
      }
    }
  }
}

@-webkit-keyframes left {
  0% {
    left: 5%;
  }
  100% {
    left: 10%;
  }
}
@-webkit-keyframes right {
  0% {
    left: 50%;
  }
  100% {
    left: 45%;
  }
}

.main-vs .slide03 .txt-wrap02 {
  display: none;
}

/* *******    product    ******* */
.product {
  background-color: #F9F9F9;
}
/* 하단 네비버튼 */
.product .nav-btn {
  @include width-height(800px, 50px);
  border-radius: 50px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, 0);
  ul {
    display: flex;
    justify-content: space-around;
    .active {
      @include width-height(25%, 100%);
      border-radius: 50px;
      background-color: #D0142E;
      z-index: -1;
      color: #fff;
    }
    li {
      width: 25%;
      display: inline-block;
      font-size: 16px;
      line-height: 50px;
      text-align: center;
      color: #D0142E;
      cursor: pointer;
    }
  }
}

// 빨간색 타이틀
.product .content-product {
  @include width-height(100vw, 100vh);
  position: relative;
  .title-wrap {
    position: absolute;
    top: 12%;
    left: 10%;
    cursor: pointer;
    p {
      font-size: 16px;
      line-height: 30px;
      color: #D0142E;
    }    
  }  
}

/* 제품 */
.product .products-wrap {
  @include flex-center(row);
  @include absolute-center;

  // 제품
  .menu {
    margin: 0 10%;
    @include animation(upDown, 0.8s);
    @-webkit-keyframes upDown {
      0% {
      transform: translateY(1.5%);
      }
      100% {
      /* top: 20%; */
      }
    }
    .menu-wrap{ 
      p {
      font-size: 22px;
      text-align: center;
      color: #555;
      font-family: "Cafe24Ssurround";
      }
      img{
        width: 22vw;
      }
    }
    // 위치조정
    &:nth-child(2n+1) {
      margin-top: 20%;
    }
    &:nth-child(2n) {
      margin-top: -20%;
    }
    &:hover > .menu-wrap{
      img {
      width: 20vw;
      transform: translate(-15%, -10%) rotate(-10deg);
      }
      p {
        display: none;
      }
    }
    &:last-child:hover > .menu-wrap > img {
      transform: translate(15%, 10%) rotate(10deg);
    }

    /* 제품 상세정보(hover) */
    &:hover .circle {
      display: block;  
    }
    .circle {
      display: none;
      @include width-height(18vw, 18vw);
      min-width: 300px;
      min-height: 300px;
      border-radius: 100%;
      background-color: #fff;
      box-shadow: 0px 0px 18px 6px rgba(221, 221, 221, 0.3333333333);
      padding: 3.5vw;
      box-sizing: border-box;
      position: absolute;
      color: #166936;
      margin-left: 65%;
      h3 {
        font-size: 20px;
        font-family: "Cafe24Ssurround";
        text-align: center;
        &::after {
          content: "";
          display: block;
          width: 100%;
          border-bottom: 1px solid #166936;
          margin: 1vw 0;
        }
      }
      p {
        font-size: 16px;
        line-height: 25px;
      }
      .more-box {
        background-color: #166936;
        margin: 0 auto;
        margin-top: 1vw;
      }
    }
    &:last-child:hover .circle {
      transform: translateX(-125%);
    }
  }
}

/* *******    event start   ******* */
.event-slider {
  display: none;
}

// 타이틀
.event .title-red {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  text-align: center;
  p {
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
  }
}

// 이벤트
.event .box-wrap {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  .box {
    width: 23vw;
    min-width: 200px;
    margin-right: 2vw;
    cursor: pointer;
    img {
      @include width-height(100%,100% );
      display: block;
    }
    .box-hover {
      @include width-height(100%,100% );
      opacity: 0;
      background-color: #166936;
      transform: translateY(-100%);
      p {
        text-align: center;
        @include absolute-center;
        color: white;
        font-size: 16px;
        white-space: nowrap;
      }
    }
    &:hover > .box-hover {
      opacity: 1;
    }
    &:last-child {
      @include flex-center(row);
      margin-right: 0px;
      border: 1px solid #ddd;
      font-size: 16px;
      font-weight: 500;
      color: #D0142E;
      &:hover {
        color: rgba(208, 20, 46, 0.5333333333);
      }
    }
  }  
}

.lotte-eatz {
// 롯데이츠
  @include width-height(200px, 150px);
  background-color: #ee3033;
  border-radius: 50px 50px 0 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.7s;
  &:hover {
    width: 100%;
  }  
  .red-box {
    @include width-height(25%, 100%);
    margin: 0 auto;
    position: relative;
    .logo > img {
      height: 90%;
      transition: 0.7s;
      @include absolute-center;
      @include animation(logo, 0.4s);
      @-webkit-keyframes logo {
        0% {
        }
        100% {
          height: 95%;
        }
      }
    }
  }
  // 상세정보(hover)
  &:hover > .red-box > .logo > img {
    left: 0;
    animation-iteration-count: 0;
  }
  .txt-wrap {
    opacity: 0;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    p {
      font-size: 14px;
      color: white;
      white-space: nowrap;
      margin-bottom: 2vh;
    }
  }
  &:hover .txt-wrap {
    opacity: 1;
    transition: 1.5s;
  }
  .more-box {
    margin: 0 auto;
  }  
}


/* *******    content start   ******* */
.content {
  position: relative;
}

.cont-min {
  display: none;
}

// 공통
.cont-normal .cont .cont-wrap {
  @include width-height(80vw, 20vw);
  max-height: 350px;
  position: relative;
  .circle {
    @include width-height(20vw, 20vw);
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    background-color: #4C9267;
    position: absolute;
  }
  .cont-img > img {
  width: 30vw;
  max-width: 450px;
  position: absolute;
  transform: translate(15%, -25%);
  }
  .txt-wrap{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    h1 {
      color: #166936;
      font-size: 36px;
    }
    span {
      font-size: 18px;
      line-height: 5vw;
    }
    .more-box {
      border: 1px solid #888;
      color: #333;
      &:hover {
        background-color: #166936;
        border: 1px solid #166936;
        color: #fff;
      }
    }
  }
}

/* HOT NOW */
.cont-normal .cont-top {
  position: absolute;
  top: 20%;
  left: 15vw;
  .cont-wrap .txt-wrap {
    margin-left: 35%;
    padding-left: 100px;  
    .more-box {
      margin-right: 30px;
      margin-bottom: 10px;
    }
  }
}
/* 단체주문 할인 */
.cont-normal .cont-bottom {
  position: absolute;
  right: 15vw;
  bottom: 7%;
  .txt-wrap {
    text-align: right;
    margin-right: 40%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .circle {
    right: 0;
  }
  .cont-img > img {
    right: 0;
    transform: translate(0%, -15%);
  }
  .more-box-wrap {
    position: absolute;
    right: 0;
  }  
}
/* *******    footer start   ******* */

.sns .icon-wrap {
  display: flex;
  justify-content: center;
  transform: translateY(-2vw);
  i {
    font-size: 3vw;
    padding: 0 1vw;
    color: #999;
    cursor: pointer;
    &:hover {
      color: #166936;
    }
  }
}

.sns .img-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 3vw;
  .box {
    width: 30vw;
    max-width: 200px;
    overflow: hidden;
    cursor: pointer;
    img {
      width: 100%;
      display: block;
      transition: 0.5s;
      &:hover {
        transform: scale(1.1);
      }
    }
    
  }
}

.footer-mobile {
  display: none;
}

.footer-wrap {
  .footer-bg {
    @include width-height(100%,250px );
    background-color: #F2F2F2;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #888;
    font-size: 13px;
    line-height: 3vh;
    .ul-normal {
      text-align: center;
      margin: 50px 0;
      li {
        text-align: center;
        display: inline-block;
        color: #888;
        font-size: 13px;
        &::after {
          content: "|";
          padding: 0 10px;
          color: #888;
        }
      }
    }
  }
}
/* *******    footer end   ******* */

// 태블릿 사이즈
@media (max-width: 1050px) {
  .more-box {
    width: 150px;
  }

  /*  1050 top-bar  */
  .top-bar > .logo {
    position: absolute;
    right: 5%;
  }

  .top-bar .menu {
    display: none;
  }

  // 메뉴바 아이콘
  .top-bar .menu-mobile {
    display: block;
    .bar-icon {
      display: block;
      position: absolute;
      left: 5%;
      top: 50%;
      transform: translatey(-50%);
      font-size: 25px;
      cursor: pointer;
    }
  }
  // (클릭시 메뉴)
  .top-bar .menu-mobile-wrap {
    height: 100vh;
    width: 35%;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(34, 34, 34, 0.1333333333);
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 1s;
    &.active {
      left: 0%;
    }
    .exit-icon {
      position: absolute;
      right: 30px;
      top: 20px;
      font-size: 25px;
      cursor: pointer;
      color: #888;
    }
    > ul {
      margin-top: 100px;
      margin-left: 30px;
      > li {
        font-size: 18px;
        margin-top: 30px;
        color: #666;
        &:hover {
          color: #4c9167;
          ul {
            display: block;
          }
        }
        &:nth-child(n+7) {
          font-size: 14px;
          line-height: 100px;
          display: inline;
        }
        &:last-child::before {
          content: "|";
          padding: 0 15px;
          color: #888;
        }
        // 세부메뉴
        ul {
          display: none;
          li {
            font-size: 14px;
            line-height: 30px;
            color: #666;
            &:hover {
              color: #4c9167;
            }
            &:first-child {
              margin-top: 15px;
            }        
          }
        }
      }
    }
      }
    
  /*  1050 main-vs  >  slide01  */
  .main-vs .slide01 .content > {
    .img-box {
    width: 60vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    .box {
      border: 0px solid #fff;
    }
  }

  .main-vs .slide01 .txt-wrap {
    display: none;
  }

  .main-vs .slide01 .txt-wrap02 {
    display: block;
    left: 50%;
    transform: translate(-50%, 120%);
    position: absolute;
    text-align: center;
    color: #694501;
    line-height: 5vw;
    >p {
      font-family: "HS-Regular";
      color: #fb8702;
      font-size: 3vw;
      line-height: 9vw;
    }
    span {
      font-family: "Cafe24Ssurround";
      line-height: 2vw;
      white-space: nowrap;
    }
    .s1 {
      font-size: 4vw;
    }
    .s2 {
      font-size: 2.7vw;
    }
    .more-box {
      margin-top: 40px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #694501;
      margin: 30px 0;
      &:hover {
        background-color: rgba(105, 69, 1, 0.6);
        color: #fff;
      }
    }  
  }

  /*  1050 main-vs  >  slide02   */
  .main-vs .slide02 .content {
    @include width-height(100%, 80vw);
    .box {
      height: 50%;
      position: absolute;
      top: 110%;
      left: 50%;
      transform: translate(-50%, -100%);
      border: 0px solid #fff;
      background-color: transparent;
    }
    .img-box {
      position: absolute;
      height: 0%;
      top: 0%;
      left: 50%;
      transform: translate(-50%, 0%);
    }
    .txt-img > img {
      width: 100%;
    }
    .more-box-wrap {
      padding-top: 5vw;
    }
  }

  /* 1050 < product >  */
  .product .nav-btn {
    width: 60vw;
    min-width: 300px;
  }

  .product .title-wrap > {
    p {
    font-size: 2vw;
      }
    h1 {
      font-size: 30px;
    }
  }
  .product .menu03 {
    display: none;
  }

  .product .products-wrap .menu .menu-wrap img {
    width: 30vw;
  }

  .product .products-wrap .menu01:hover > .menu-wrap > img {
    width: 22vw;
    transform: translate(-50%, -40%) rotate(-10deg);
  }

  .product .menu02:hover > .menu-wrap > img {
    width: 22vw;
    transform: translate(70%, -40%) rotate(10deg);
  }

  .product .menu:hover .circle {
    @include width-height(35vw, 35vw);
    padding: 5vw;
    margin-left: 0;
  }

  .product .menu02:hover .circle {
    transform: translate(-10%, 20%);
  }

  .product .menu .circle{
    h3 {
    font-size: 2.5vw;
    margin-top: 20px;
    }
    p {
      font-size: 14px;
      line-height: 30px;
    }
    .more-box {
      // @include width-height(15vw, 3vw);
      margin-top: 50px;
      font-size: 14px;
    }
  }

  /* 1050 < event >  */
  .event .title-red {
    font-size: 30px;
  }

  .event .box-wrap {
    width: 90%;
    .box {
      width: 30vw;
      .box-hover > p {
        font-size: 1.5vw;
        line-height: 2.5vw;
      }
    }
  }

  .event .box-wrap .box03 {
    display: none;
  }

  .lotte-eatz:hover > .red-box > .logo > img {
    display: none;
  }

  .lotte-eatz > .red-box > .txt-wrap {
    right: -50%;
    transform: translate(-50%, -50%);

  }

  /* 1050 < content >  */
  .cont-normal{ 
    .cont-top {
    right: 10vw;
    top: 30%;
    }
    .cont-bottom {
      bottom: 20%;
    }
  } 
}
@media (max-width: 600px) {
  .top-bar {
    height: 80px;
    .logo {
      margin-left: 0;
      right: -3%;
      img {
        width: 10vh;
        min-width: 90px;
      }
    }
    .menu-mobile-wrap {
      width: 50%;
      > ul > li {
        font-size: 16px;
        margin-top: 30px;
        color: #666;
      }
    }
  }
  .fp-controlArrow{
    .fp-prev::after {
    font-size: 30px;
   }
    .fp-next::before {
      font-size: 30px;
    }
  }

  /* 600 main-vs >  slide01  */
  .main-vs .slide01 .content > .img-box {
    transform: translate(-50%, -60%);
  }

  .main-vs .slide01 .txt-wrap02 {
    transform: translate(-50%, 90%);
    >p {
      font-size: 5vw;
      line-height: 9vw;
    }
    .s1 {
      font-size: 5vw;
      line-height: 9vw;
    }
   .s2 {
      font-size: 3.5vw;
    }
  }



  /* 600 main-vs >  slide03 시작 */
  .main-vs .slide03 .more-box-wrap {
    bottom: -10%;
  }

  /* 600 < product >  */
  .product .nav-btn {
    height: 40px;
    bottom: 5%;
    ul > li {
      font-size: 14px;
      line-height: 40px;
    }  
  }
  .product .menu{
    @-webkit-keyframes upDown {
      0% {
      }
      100% {
      /* top: 20%; */
      }
    }
  }
  .product .menu01 {
    position: absolute;
    transform: translateY(-70%);
  }

  .product .menu02 {
    position: absolute;
    transform: translateY(70%);
  }
  .product .menu:hover .circle {
    display: none;
  }

  .product .products-wrap .menu .menu-wrap img {
    width: 18vh;
  }

  .product .products-wrap .menu01:hover > .menu-wrap > img {
    width: 22vw;
    transform: translate(-100%, -120%) rotate(-10deg) scale(100%);
  }

  .product .menu02:hover > .menu-wrap > img {
    width: 22vw;
    transform: translate(70%, -40%) rotate(10deg);
  }

  .product .menu:hover .circle {
    @include width-height(30vw, 30vw);  
    transform: translate(-30%, -30%); 
    padding: 5vw;
    margin-left: 0;
  }

  .product .menu02:hover .circle {
    transform: translate(-37%, 10%);
  }

  


  .product .menu:hover > .menu-wrap {
    img {
    width: 23vh;
    transform: translate(0%, 0%) rotate(0deg);
    transform: scale(100%);
    }
    p {
      display: block;
    }
  } 

  .product .menu > .menu-wrap > p {
    font-size: 14px;
  }
  
  /* 600 < event >  */
  .event .title-red {
    top: 10%;
    font-size: 6vw;
  }

  .event .box-wrap {
    display: none;
  }

  .event .event-slider {
    display: block;
    width: 70%;
    margin: 0 auto;
    .box {
      width: 25vw;
      img {
        width: 100%;
      }
    }
  } 

  .lotte-eatz {
    @include width-height(100%, 15vh);
    .red-box > .txt-wrap {
      font-size: 14px;
    }  
  }

  /* 600 < content >  */
  .cont-normal {
    display: none;
  }

  .cont-min {
    display: block;
    @include width-height(100%, 100% );
    // background-color: #F2F2F2;
  }

  .cont-min .img-wrap {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .cont-min .cont-top, .cont-bottom {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .cont-min .cont-top {
    top: 15%;
  }

  .cont-min .cont-bottom {
    top: 60%;
  }

  .cont-min .cont-top .img-wrap > .cont-img {
    width: 30vh;
  }

  .cont-min .img-wrap > .cont-img {
    width: 25vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10%);
  }

  .cont-min .img-wrap > .circle {
    @include width-height(20vh, 20vh );
    background-color: #fff;
    border-radius: 50%;
  }

  .cont-min .img-wrap > .cont-img > img {
    width: 100%;
  }

  .cont-min .txt-wrap {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .cont-min .txt-wrap {
    position: absolute;
    transform: translateY(22vh);
    color: #166936;
  }

  .cont-min .txt-wrap > p {
    font-size: 16px;
    line-height: 4vh;
    color: #555;
  }

  .cont-min .more-box-wrap {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .cont-min .more-box-wrap > .more-box {
    width: 150px;
    margin-top: 1vh;
    border: 1px solid #ddd;
    color: #777;
  }

  /* 600 < footer >  */
  .footer-normal {
    display: none;
  }
  .sns .icon-wrap > i {
    font-size: 40px;
    padding: 0 2vw;
    margin-bottom: 50px;
    transform: translateY(-50px);

  }

  .sns .img-wrap > .box-wrap > .box {
    width: 15vh;
    max-width: 200px;
    overflow: hidden;
    cursor: pointer;
    transform: translateY(-50px);

  }

  .footer-wrap > .footer-bg {
    height: 190px;
    background-color: #F2F2F2;
    position: absolute;
    bottom: 0;
    .footer-mobile {
      display: block;
      margin-top: 25px;
      .img-box {
        display: flex;
        justify-content: center;
        img {
          width: 17vw;
        }
      }
      ul > li {
        text-align: center;
        font-size: 12px;
        line-height: 23px;
        color: #888;
      }
    }    
  }
}